.navbar{
    background-color: rgb(247, 205, 127);
}

@media screen and (min-width:900px){
    .mega-menu{
        width: 900px;
        transform: translate3d(0px, 4px, 0) !important;
    }
}

#mega-menu{
    background-color: rgb(252, 223, 168);
}

#icons{
    margin-left: 10px;
}

/* #navbarSupportedContent{
    background-color: rgb(253, 238, 209);
} */